<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{base :: head}"></div>

<body th:style="'background-image: url('+@{/images/1000_F_300852306_pBgkn3EmALrtLLTSwCACu1yjIdjXy99d.jpg}+');'">
<div th:replace="~{base :: nav}"></div>
<div id="coverdiv" class="d-none">
</div>
<div class="card my-3 shadow-lg m-auto" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="/images/defaultprofilepic.jpg" class="img-fluid rounded-1" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" th:text="|${user.firstName} ${user.lastName}|"></h5>
                <p class="card-text" th:text="${user.email}"></p>
                <div>
                    <button onclick="popupwindows('show-edit-profile','editprofile','cancel-edit-profile')"
                            id="show-edit-profile" class="btn btn-outline-primary">Edit Profile
                    </button>
                    <button onclick="popupwindows('show-change-pass','changepass','cancel-change-pass')"
                            id="show-change-pass" class="btn btn-outline-warning">Change Password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card text-center m-auto my-2" style="max-width: 540px;">
    <div class="card-header">
        <h3>
            Your Interests
        </h3>
    </div>
    <form th:action="@{/addInterest}" th:object="${interest}" method="post" class="d-flex w-75 m-auto my-3">
        <div class="form-outline border border-2 border-primary py-2 rounded-pill">
            <input type="text" th:field="*{key_Word}" class="form-control rounded-pill"/>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill mx-2">
            Add
        </button>
    </form>
    <div class="card-body row row-cols-3 g-2">
        <div th:each="topic : ${interests}">
            <button class="rounded-pill btn-outline-primary" th:value="${topic.id}" data-bs-toggle="button"
                    th:text="${topic.key_Word}"></button>
        </div>
    </div>
    <form id="deleteForm" th:action="@{/deleteInterest}" th:method="post" th:object="${interest}"
          class="card-footer text-body-secondary">
        <input type="hidden" id="deletingTopic" th:field="*{id}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
<div class="card m-auto shadow-6-strong my-3" style="max-width: 540px;">
    <div class="card-header text-center">
        <h3>
            Your Saved Articles
        </h3>
    </div>
    <ul class="list-group list-group-flush">
        <div th:each="article : ${articles}">
            <form id="article" th:action="@{/unsaveArticle}" th:object="${article}" th:method="post">
                <li class="list-group-item text-center">
                    <p id="input" th:text="${article.gettitle()}"></p>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <a target="_blank" class="btn btn-outline-primary" th:href="${article.url}">Read Full Article</a>
                    <input type="hidden" id="id" name="id" th:value="${article.id}">
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </li>
            </form>
        </div>
    </ul>
</div>
<!-- POPUPS -->
<div id="editprofile" class="card text-center d-none popupcard">
    <div class="card-header">
        <h3>
            Edit Profile
        </h3>
    </div>
    <form th:action="@{/editProfile}" th:method="post" th:object="${user}">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="text" class="form-control" th:field="*{firstName}" required/>
                    <label class="form-label">First Name</label>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="text" class="form-control" th:field="*{lastName}" required/>
                    <label class="form-label">Last Name</label>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="email" class="form-control" th:field="*{email}" required/>
                    <label class="form-label">Email</label>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            <button type="reset" id="cancel-edit-profile" class="btn btn-outline-danger">Cancel</button>
            <button class="btn btn-outline-success" type="submit">Edit</button>
        </div>
    </form>
</div>
<div id="changepass" class="card text-center d-none popupcard">
    <div class="card-header">
        <h3>
            Change Password
        </h3>
    </div>
    <form th:action="@{/editPassword}" th:object="${passwordReset}" method="post">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="password" class="form-control" th:field="*{oldPassword}" required/>
                    <label class="form-label">Old Password</label>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="password" class="form-control" th:field="*{newPassword}" required/>
                    <label class="form-label">New Password</label>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 border border-3 border-primary p-2 rounded-3">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0 form-floating">
                    <input type="password" class="form-control" th:field="*{confirmPassword}" required/>
                    <label class="form-label">Confirm New Password</label>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            <div class="card-footer text-body-secondary">
                <button type="reset" id="cancel-change-pass" class="btn btn-outline-danger">Cancel</button>
                <button class="btn btn-outline-success" type="submit">Change</button>
            </div>
        </div>
    </form>
</div>
<script>
    // JavaScript
    function popupwindows(popupbtnid, popupcardid, popupcancelid, id, title) {
        if (id) {
            document.querySelector('#hiddenid').value = id
            document.querySelector('#title').value = title
        }
        const modalButton = document.getElementById(popupbtnid);
        const modal = document.getElementById(popupcardid);
        const closeModalButton = document.getElementById(popupcancelid);
        const coverDiv = document.getElementById("coverdiv")
        modal.classList.remove('d-none');
        coverDiv.classList.remove('d-none');
        modal.addEventListener('click', (event) => {
            event.stopPropagation();
        });

        closeModalButton.addEventListener('click', () => {
            modal.classList.add('d-none');
            coverDiv.classList.add('d-none');
        });
    }

    const buttons = document.querySelectorAll('.rounded-pill.btn-outline-primary');

    for (const button of buttons) {
        button.addEventListener('click', () => {
            buttons.forEach(button => button.classList.remove('active'));
            button.classList.add('active');
        });
    }

    const form = document.querySelector('#deleteForm');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const topic = document.querySelector('.rounded-pill.btn-outline-primary.active')
        console.log(topic);
        if (topic != null) {
            document.querySelector('#deletingTopic').value = topic.value;
            form.submit();
        } else {
            flashToastNotification('Select a interest before pressing delete!')
            return;
        }
    });

    function flashToastNotification(message) {
        console.log(flashToastNotification.caller);
        // Create a toast notification element.
        const toastNotificationElement = document.createElement('div');
        toastNotificationElement.classList.add('toast-notification');
        toastNotificationElement.classList.add('text-danger')

        // Set the toast notification message.
        toastNotificationElement.textContent = message;

        // Add the toast notification element to the document body.
        document.body.appendChild(toastNotificationElement);

        // Fade in the toast notification element.
        toastNotificationElement.classList.add('fade-in');

        // Remove the toast notification element after 3 seconds.
        setTimeout(() => {
            toastNotificationElement.classList.remove('fade-in');
            toastNotificationElement.classList.add('fade-out');

            setTimeout(() => {
                document.body.removeChild(toastNotificationElement);
            }, 500);
        }, 3000);
    }

    if (document.getElementById('flashes').innerText != '') {
        console.log("toast called");
        flashToastNotification(document.getElementById('flashes').innerText)

    }

</script>
</body>
<div th:replace="~{base :: foot}"></div>
</html>